= form_for @page, :html => {:multipart => @multipart} do |f|
  - if @page.errors.any?
    .alert.alert-error.fade.in.span12
      = link_to "×", "#", :class => "close", 'data-dismiss' => 'alert'
      - @page.errors.full_messages.each do |m|
        = m
          
  .form-horizontal
    - unless @page.new_record?
      - @page.template.fields.each do |field|
        .control-group
          = label_tag "", field.name, :class => 'control-label'
          .controls
            = render :partial => "constructor_pages/fields/types/#{field.type_value}", :locals => {:field => field, :page => @page}

    .accordion
      .accordion-group
        .accordion-heading.text-center
          = link_to 'Настройки', '#collapse', :class => 'accordion-toggle', 'data-toggle' => 'collapse'
        .accordion-body.in.collapse#collapse
          .accordion-inner
            .control-group
              = f.label :parent, :class => 'control-label'
              .controls
                = f.select :parent_id, options_for_select(for_select(@roots), :selected => @page.parent_id, :disabled => @page.self_and_descendants.map{|p| p.id}), :include_blank => 'Нет'

            .control-group
              = f.label :template, :class => 'control-label'
              .controls
                = f.select :template_id, options_for_select(templates, :selected => @template)
            .control-group
              = f.label :link, :class => 'control-label'
              .controls
                = f.text_field :link, :class => "span9"          
            .control-group
              %label.control-label Отображать в
              .controls
                %label.checkbox.inline.span2{:for => 'in_menu'}
                  = f.check_box :in_menu
                  Меню

                %label.checkbox.inline.span2{:for => 'in_map'}
                  = f.check_box :in_map
                  Карта сайта

                %label.checkbox.inline.span2{:for => 'in_nav'}
                  = f.check_box :in_nav
                  Хлебные крошки        

    .row-fluid        
      .span12
        .form-actions
          .btn-group
            = f.submit :class => "btn btn-primary"
            = link_to "Отмена", pages_url, :class => "btn"   
          = link_to "Удалить страницу", @page, :confirm => 'Вы уверены?', :method => :delete, :class => "btn btn-danger pull-right" unless @page.new_record?