- content_for :page_title do
  =t :structure

- content_for :actions do
  - if @template_exists
    .span4.clearfix.text-right
      = link_to pages.new_page_path, class: 'btn btn-large btn-link' do
        %i.icon-plus
        =t :new_page

%section.b-tree.span12
  %ul
    - cache @pages_cache do
      - @pages.each do |page|
        %li
          - if page.published?
            = link_to page.name, page.full_url, class: 'btn btn-link'
          - else
            %button.btn.disabled= page.name

          .b-tree__buttons
            = arrow_buttons_for(page)

            = link_to edit_page_path(page), class: 'btn btn-primary btn-mini' do
              %i.icon-pencil
              =t :edit
              = page.template.to_accusative

            - if page.template.child
              = link_to new_child_page_path(page), class: 'btn btn-success btn-mini' do
                %i.icon-chevron-down
                =t :add
                = page.template.child.to_accusative

            = link_to page, method: :delete, class: 'btn btn-danger btn-mini pull-right', data: {confirm: t(:are_you_sure?)} do
              %i.icon-remove
              =t :delete