- content_for :page_title do
  Заглушка

- content_for :actions do
  .span4.clearfix.text-right
    .btn-group
      = link_to 'Добавить email', new_email_path, :class => "btn btn-success btn-large" 
      %button.btn.btn-success.btn-large.dropdown-toggle{'data-toggle' => "dropdown"}
        %span.caret
      %ul.dropdown-menu.text-center
        %li= link_to 'Сделать рассылку', delete_all_path
        %li.divider    
        %li= link_to 'Удалить все', delete_all_path, :method => :delete, :confirm => "Вы уверены?"

%section
  - if @emails.count.zero?
    Список пуст
  - else
    %table.table.table-bordered
      %tbody
        - @emails.each do |email|
          %tr
            %td
              = email.email
              %span.pull-right
                = link_to "<i class='icon-pencil icon-white'></i>".html_safe, edit_email_path(email), :class => "btn btn-small btn-primary"          
                = link_to "<i class='icon-remove icon-white'></i>".html_safe, email, :class => "btn btn-small btn-danger" 