!!!
%html{:lang => 'ru'}
  %head
    %meta{:charset => 'utf-8'}/
    %meta{'http-equiv' => 'X-UA-Compatible', :content => 'IE=edge,chrome=1'}/
    %title Суши Клик
      
    %meta{:name => 'description', :content => ""}/
    %meta{:name => 'keywords', :content => ""}/
    /%link{:rel => 'canonical', :href => @canonical}/

    %meta{:name => 'viewport', :content => 'width=device-width,initial-scale=1'}/

    %meta{:property => 'og:title',  :content => ""}/
    %meta{:property => 'og:type',   :content => 'website'}/
    /%meta{:property => 'og:url',    :content => @canonical}/
    %meta{:property => 'og:image',  :content => ''}/
    %meta{:property => 'og:site_name', :content => ''}/

    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    = favicon_link_tag

    %body
      .l-all.container
        = image_tag("logo.png")              
        .row      
          %form.span5{:action => "/email", :method => :post}
            %p
              %strong Телефоны:
              (473) 22-22-820, 22-22-821
              %br/
              %strong Адрес:
              г. Воронеж, ул. Ломоносова, д. 114а (ПТК «Добрый»)              
            %br/
            - if @email.errors.any?
              .row          
                .alert.alert-error.fade.in.span12
                  %button.close{:type => :button, 'data-dismiss' => :alert} ×
                  - @email.errors.full_messages.each do |m|
                    = m

            - if flash[:notice]
              .row
                .alert.alert-success.fade.in    
                  %button.close{:type => :button, 'data-dismiss' => :alert} ×
                  = flash[:notice]
            - else
              %p
                %em Сообщите мне об открытии сайта на эл. почту: 
                .input-append       
                  %input.input-xlarge#appendedInputButton{:type => "email", :placeholder => "ваша@электропочта.ru", :name => "email[email]", :required => :required, :value => @email.email}/
                  %input.btn.btn-success{:type => "submit", :value => "Жду!"}/              