= form_for @template do |f|
  - if @template.errors.any?
    .alert.alert-error.fade.in.span12
      = link_to '×', '#', class: 'close', 'data-dismiss' => 'alert'
      - @template.errors.full_messages.each do |m|
        = m

  .form-horizontal
    .control-group
      = f.label :name, class: 'control-label'
      .controls= f.text_field :name, class: 'span4'

    .control-group
      = f.label :code_name, class: 'control-label'
      .controls= f.text_field :code_name, class: 'span4'

    .control-group
      = f.label :parent, class: 'control-label'
      .controls
        = f.select :parent_id, options_for_select(for_select(@roots), selected: @template.parent_id), disabled: @template.self_and_descendants.map(&:id), include_blank: t(:no)

    .control-group
      = f.label :child, class: 'control-label'
      .controls
        = f.select :child_id, options_for_select(for_select(@roots), selected: @template.child_id), include_blank: t(:no)

    - unless @template.new_record?
      .control-group
        .controls
          = link_to new_field_path(@template.id), class: 'btn btn-mini btn-link' do
            %i.icon-plus
            =t :new_field

    - @template.fields.each do |field|
      .control-group
        = label_tag '', field.name, class: 'control-label'
        .controls
          = link_to field_move_down_path(field), class: "btn btn-mini #{'disabled' if field.last?}" do
            %i.icon-arrow-down
          = link_to field_move_up_path(field), class: "btn btn-mini #{'disabled' if field.first?}" do
            %i.icon-arrow-up
          = link_to edit_field_path(field, field.template), class: 'btn btn-mini btn-primary' do
            %i.icon-pencil
          = link_to field_path(field), method: :delete, data: {confirm: t(:are_you_sure?)}, class: 'btn btn-mini btn-danger' do
            %i.icon-remove

    .row-fluid
      .span12
        .form-actions
          = f.submit class: 'btn btn-primary'
          = link_to t(:cancel), templates_url, class: 'btn'
          = link_to t(:delete_template), @template, method: :delete, data: {confirm: t(:are_you_sure?)},  class: 'btn btn-danger pull-right' unless @template.new_record?