= form_for @template do |f|
  - if @template.errors.any?
    .alert.alert-error.fade.in.span12
      = link_to "×", "#", :class => "close", 'data-dismiss' => 'alert'
      - @template.errors.full_messages.each do |m|
        = m

  .form-horizontal
    .control-group
      = f.label :name, :class => 'control-label'
      .controls= f.text_field :name, :class => "span4"

    .control-group
      = f.label :code_name, :class => 'control-label'
      .controls= f.text_field :code_name, :class => "span4"

    .control-group
      = f.label :parent, :class => 'control-label'
      .controls
        = f.select :parent_id, options_for_select(for_select(@roots), :selected => @template.parent_id), :include_blank => 'Нет'

    .control-group
      = f.label :child, :class => 'control-label'
      .controls
        = f.select :child_id, options_for_select(for_select(@roots), :selected => @template.child_id), :include_blank => 'Нет'

    - unless @template.new_record?
      .control-group
        .controls
          = link_to "<i class='icon-plus icon-white'></i> Добавить поле".html_safe, new_field_path(@template.id), :class => "btn btn-mini btn-success"

    - @template.fields.each do |field|
      .control-group
        = f.label field.name, :class => 'control-label'
        .controls
          = link_to "<i class='icon-pencil icon-white'></i>".html_safe, edit_field_path(field, field.template), :class => "btn btn-mini btn-primary"
          = link_to "<i class='icon-remove icon-white'></i>".html_safe, field_path(field), :method => :delete, :confirm => "Вы уверены?", :class => "btn btn-mini btn-danger"

    .row-fluid
      .span12
        .form-actions
          .btn-group
            = f.submit :class => "btn btn-primary"
            = link_to "Отмена", templates_url, :class => "btn"
          = link_to "Удалить шаблон", @template, :confirm => 'Вы уверены?', :method => :delete, :class => "btn btn-danger pull-right" unless @template.new_record?