- content_for :page_title do
  =t :templates

- content_for :actions do
  .span4.clearfix.text-right
    = link_to new_template_path, class: 'btn btn-link btn-large' do
      %i.icon-plus
      =t :new_template

%section.b-tree.span12
  = render_tree(@roots) do |template|
    %button.btn.btn-link.disabled= template.name

    .b-tree__buttons
      = render partial: 'constructor_pages/partials/arrow_buttons', locals: {item: template}

      = link_to edit_template_path(template), class: 'btn btn-primary btn-mini' do
        %i.icon-pencil
        =t :edit
        = t(:template).downcase

      = link_to template_path(template), method: :delete, class: 'btn btn-danger btn-mini pull-right', data: {confirm: t(:are_you_sure?)} do
        %i.icon-remove
        =t :delete