- content_for :page_title do
  =t :templates

- content_for :actions do
  .span4.clearfix.text-right
    = link_to new_template_path, class: 'btn btn-link btn-large' do
      %i.icon-plus
      =t :new_template

%section.b-tree.span12
  %ul
    - @roots.each do |root|
      - level = root.level
      - last_template = nil

      - root.self_and_descendants.each do |template|
        - if template.level > level
          <ul>
        - elsif template.level < level
          </li>
          = raw '</ul></li>' * (level-template.level)
        - elsif !template.root?
          </li>

        <li>
        %button.btn.btn-link.disabled= template.name

        .b-tree__buttons
          .btn-group
            - if not template.right_sibling.nil? and template.move_possible?(template.right_sibling)
              = link_to template_move_down_path(template), method: :post, class: 'btn btn-mini' do
                %i.icon-arrow-down
            - if not template.left_sibling.nil? and template.move_possible?(template.left_sibling)
              = link_to template_move_up_path(template), method: :post, class: 'btn btn-mini' do
                %i.icon-arrow-up

          = link_to edit_template_path(template), class: 'btn btn-primary btn-mini' do
            %i.icon-pencil
            =t :edit
            = t(:template).downcase

        - level = template.level
        - last_template = template
      </li>
      = raw '</ul></li>' * last_template.level